html, body {
  background: #eee;
  font-family: 'Menlo', 'Monaco', 'Consolas', monospace;
  padding: 21px;
}

input {
  border: #ddd;
  padding: 8px;
  font-size: 21px;
  font-weight: 300;
  width: 337px;
}

button {
  padding: 8px;
  font-size: 13px;
  font-family: 'Menlo', 'Monaco', 'Consolas', monospace;
}

video {
  width: 100%;
}

.peer {
  display: flex;
}

.local {
  border: 3px solid red;
}

.remote {
  border: 3px solid purple;
}
